services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    environment:
      PORT: "8787"
    ports:
      - "8787:8787"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      PORT: "80"
      BACKEND_HOSTPORT: "backend:8787"
    depends_on:
      - backend
    ports:
      - "3000:80"
